# Исключаем виртуальное окружение Python
.venv
.env
# Исключаем директорию Git
.git
.gitignore

# Исключаем файлы настроек IDE
.idea
.vscode

# Исключаем кэш Python
__pycache__
*.pyc

# ИСКЛЮЧАЕМ СЕКРЕТЫ И ЛОКАЛЬНЫЕ НАСТРОЙКИ
.env

# Исключаем логи
logs/
*.log
.idea
# Файлы Docker не исключаем, чтобы сборка работала стабильно